.portCard {
    width: auto;
    height: 250px;
}
 

.portImage {
    width: auto;
    height: 250px;
    border-radius: 50%;
 
}

.portCardTitle {
    background-color: #cccbcb;
    height: 50px;
    width: 100%;
    opacity: 90% !important;
    color: black !important;
    text-align: center !important;
}